.App{
  height: 100vh;
  width: 100vw;
  background-image: url(pexels-evie-shaffer-4004374.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  float: left;
}

body{
  margin: 0;
  padding: 0;

}

a{
  /* background-color: yellow; */
  color: #fff;
  text-decoration: none;
  text-underline-position:unset;
}

.sidebar{
  height: 100vh;
  width: 18vw;
  background-color:rgb(10, 10, 10, 0.3) ;
  color: #fff;
  display: grid;
  float: left;
  /* background-image: url(pexels-evie-shaffer-4004374.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;*/
} 

.float-container{
  display:flex;
  justify-content:flex-start;
  padding: 4%;
  margin: 5% 10% 5% 15%;
  border-radius: 3%;
}

.float-container:hover {
  color: black;
  text-decoration: none;
  background-color: cyan;
  cursor:pointer; 
  transform: scale(1.1);
  transition: all 0.1s ease 0s;
}

.float-child{
  margin: 0% 5% 0% 2%;
}

/* previous file */

.main-div{
  width: 82vw;
  height: 100vh;
  background-color:rgb(236, 232, 227, 0.9);
  color: black;
}

#navlogo{
  width: 45vw;
}

/* #Userdiv{
  scale: 0.7;
} */

.container {
  display: flex;
  width: 82vw;
  height: 40vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: brown 2px solid ; */
}

.icon{
  padding: 5%;
  width: 3.5vw;
  /* padding: 10%; */
  /* scale: 1.1; */
}

.d-flex{
  width: 20vw;
}

.navcontainer {
  display: flex;
  width: auto;
  height: 5vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  float: left;
  /* border: brown 2px solid ; */
  margin: auto;
  padding: 10px;
}

.formcontainer {
  display: flex;
  width: 80vw;
  height: 40vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: brown 2px solid ; */
}

.bigcontainer {
  display: flex;
  width: 25%;
  height: 35vh;
  flex-direction: column;
  justify-content: end;
  align-items: baseline;
  float: left;
  /* border: brown 2px solid ; */
  margin: 10% 2% 3% 2%;
  padding: 0% 2% 0% 2%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.smallcontainer {
  display: flex;
  width: 20%;
  height: 20vh;
  flex-direction: column;
  justify-content: end;
  align-items: baseline;
  float: left;
  /* border: brown 2px solid ; */
  margin: 7% 2% 3% 2%;
  padding: 0% 2% 0% 2%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.search-bar {
  padding-left: 5px;
  /* color: #fff; */
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  outline: none;
  width: 15vw;
}

.round-search{
  border-radius: 50%;
  color: #fff;
  /* background: transparent; */
  border: none;
  /* box-shadow: 0px rgba(231, 29, 29, 0.5); */
  background-color: rgb(0, 0, 0, 1); 
  padding: 0.35vw;  
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.round-search:hover{
  color: black;
  /* background: transparent; */
  /* box-shadow: 0px rgba(231, 29, 29, 0.5); */
  background-color:cyan; 
  transform: scale(1.1);
  transition: all 0.1s ease 0s;
}

.lefttext{
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 8% 0% 8% 0%;
}

.righttext{
  text-align: right;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 8% 0% 8% 0%;
}

p{
  margin: 1%;
  padding: 0%;
  font-size: small;
}

h4{
  margin: 1%;
  padding: 0%;
  font-size: large;
}

hr{
  margin: 1% 0%;
  padding: 0%;
}

.smimgbox{
  text-align: left;
  height: 56%;
  width: 28%;
  background-color: orange;
  color: #fff;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 2px;
  scale: 2;
  position: relative;
  left: 10%;
  top: 0%;
}

.imgbox{
  display: flex;
  float: left;
  flex-direction: row;
  width: 100%;
}

.lgimgbox{
  text-align: left;
  height: 35%;
  width: 50%;
  background-color: orange;
  color: #fff;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 2px;
  scale: 2;
  position: relative;
  left: 25%;
  top: -10%;
}

#active{
  background-color: red;
}